/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0px;
  padding: 0;
}

h1 {
  font-style: italic;
  color: #eeeff8;
  background-color: #201b1e;
  text-align: center;
  vertical-align: text-bottom;
  margin: 0;
  padding: 0;
  height: 4em;
  
}
